<%- include('./partials/header') %>



<div class="background-div" style="background-image: url('images/geometric-image.jpg');">
  <div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if (user) { %>
      <a href="/decks/"> Go To My Decks </a>
      <a href="/decks/new"> Create a New Deck </a>
      <a href="/decks/all"> See all of the decks other users have created </a>
    <% } else { %>
      <a href="/auth/google">Login</a> to create a deck and add comments
      <a href="/decks/all"> See all of the decks other users have created </a>
    <% } %>
    </div>
  </div>

  </body>
</html>
