h1 {
    margin-left: 5vmin;
}

div {
    margin: 2vmin; 
    margin-left: 5vmin;
}

button {
    width: 13vmin;
    height: 8vmin;
    border-radius: 10%;
    margin-top: 5vmin;
}

input {
    margin-top: 2vmin;
    height: 8vmin;
   
}

#deletebutton {
    background-color: crimson;
}