main {
    margin: 10vmin;
}


.adjustbuttons {
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

form > button { 
    padding: 10px;
    border-radius: 0.15rem;
    height: 60px;
    width: 120px;
    border-style: none;
    background-color: aqua;
}

.delete-button {
    background-color: orangered;
}

.delete-comment {
    background-color: orangered;
    height: 35px;
    width: 80px;
}

form > button:hover {
    color: white;
    background-color: #424748;
}


#cardlist {
    display: flex; 
    flex-wrap: wrap;

}

#deck-card-front, #deck-card-back {
    height: 18vmin; 
    width: 30vmin;
    margin-top: 2vmin;
    margin-right: 5vmin;
    margin-bottom: 2vmin;
    text-align: center;
    background-color: burlywood;
}



#editlink {
    margin-bottom: 5vmin;
}
