main {
    display: flex; 
    flex-direction: column;
    margin: 0 15vmin 0 15vmin; 
}

h1, p {
    text-align: center;
}

#decks {
    /* display: flex;  */
    align-self: flex-start;
} 

#new {
    /* display: flex;  */
    align-self: flex-end;
}

#login {
    /* display: flex;  */
    align-self: flex-start;
}

#homepage-bg {
    margin: 0 -15vmin 5vmin -15vmin;
}

#newimg { 
    width: 20vmin;
    margin-left: 2vmin;
}

#deckimg {
    width: 20vmin; 
}

#allimg {
    width: 20vmin; 
}
.background-div {
    margin: 0 -15vmin 0vmin -15vmin;
    height: 89vmin;
    background-position: center;
    display: flex
}