<%- include('../partials/header') %>

<!-- how to store the deck id -->
<form action="/decks/<%= deckId %>/cards/" method="POST">
    <label> Card Front: </label>
    <input type="text" name="front">
    <!-- make this required -->
    <label> Card Back: </label>
    <input type="text" name="back">
    <!-- make this required -->
    <label> Card Comment: </label>
    <input type="text" name="comments">
    <input type="submit" value="Add Card">
</form>

<%- include('../partials/footer') %>