<%- include('../partials/header') %>

<form action="/decks" method="POST">
    <label> Deck Title: </label>
    <input type="text" name="title">
    <!-- make this required -->
    <label> Deck Notes: </label>
    <!-- make this required -->
    <input type="text" name="notes">
    <input type="submit" value="Create Deck">
</form>


<%- include('../partials/footer') %>